/* ***** Modal ***** */

.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(124, 124, 124);
    width: 60vw;
    height: 60vh;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.modal__content {
    width: 85%;
    height: 70%;
    background-color: rgb(228, 228, 228);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    overflow: scroll;
    padding: 3rem;
}

.modal__X-wrapper {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    margin-top: 2rem;
    margin-right: 3rem;
    width: 3rem;
    height: 3rem;
    line-height: 1.5rem;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: rgb(228, 228, 228);
}

.modal__X-wrapper:hover {
    background-color: rgb(206, 206, 206);
}

.modal__text {
    text-transform: initial;
}

.modal__X {
    font-size: 3rem;
    color: rgb(34, 34, 34);
}

.ActivateModalContainer {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
